@import "tailwindcss";

@theme {
  --font-main: "Segoe UI", sans-serif;

  --color-body: #f8f9fa;
  --color-btn-first: #865dff;
  --color-btn-hover: #1d4ed8;
  --color-col-border: #865dff;
  --color-expenceList: #4c4c4c;
  --color-month-active: #ff548b;
  --color-container-mini: #f8f9fa;
  --color-modal: rgb(0 0 0 / 58%);

  --shadow-section: 0 2px 8px rgba(0, 0, 0, 0.05);
  --shadow-section-mini: 0 2px 8px rgb(14 14 14 / 14%);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  background: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
}

.form select,
.form input {
  flex: 1 1 150px;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.info-title-null {
  text-align: center;
  margin-top: 30px;
  font-size: 17px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #b8a0ff;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
